<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
 </head>
 <body>

   {% if msg %}
   <h1>{{ msg }}</h1>
   {% endif %}
  
   <h1>Upload new File</h1>
  
   <form method=post enctype=multipart/form-data>
     <p><input type=file name=file>
        <input type=submit value=Upload>
   </form>

   <h1>Result:</h1>
   {% if img_src %}
     <img src="{{ picture }}", height="300" width="300">
   {% endif %}
  
   {% if extracted_text %}
     <p><b> "{{ extracted_text }}"} </b></p>
  
   {% else %}
     {"date": <b> "{{ null }}"}
   {% endif %}
 </body>
</html>
